<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入jequery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js文件 -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的css、js文件 -->
    <link rel="stylesheet" href="/js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入选项卡tabs的css、js文件 -->
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">商品管理系统</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-brand" href="#">
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- 树的div -->
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <table id="agentTable3"></table>
                    </div>
                    <div role="tabpanel" class="tab-pane active">
                        <table id="problemTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="none">
    $(function(){
        initTree();//初始化树的数据
        initAgentTable3();//初始化表格
        initProblemTable();
    })
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //修改弹框
    function openUpdate(agentId){
        $("#agentId").val(agentId);
        bootbox.dialog({
            title:'发布问题',
            message: createAddContent("/toAddProblem"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/addProblemInfoById',
                            type:'post',
                            data:$("#agentForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if(data){
                                }else{
                                    bootbox.alert({
                                        size: "small",
                                        title: "提示",
                                        message: "新增失败！",
                                        buttons: {
                                            ok: {
                                                label: '确定',
                                                className: 'btn-success'
                                            }
                                        }
                                    })
                                }

                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }
    function initProblemTable(){
        $('#problemTable').bootstrapTable({
            url:"/findProblem",
            type:"post",
            striped:true,//显示条纹状表格
            columns:[//commentCount(agentId);
                {field:"check",checkbox:true},
                {field:"id",title:"id"},
                {field:"problem",title:"疑问"},
                {field:"proDescription",title:"问题描述"},
                {field:"proType",title:"问题类型",formatter:function(value,row,index){
                        return value==1?"买房":value==2?"交易过后":value==3?"卖房":value==4?"贷款":value==5?"其他":"";
                }
                }

            ]
        })
    }
    function initAgentTable3(){
        $('#agentTable3').bootstrapTable({
            url:"/findAgent",
            type:"post",
            pagination:true, //是否展示分页
            pageList:[3, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            striped:true,//显示条纹状表格
            queryParams:function(){
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                }
            },
            columns:[//commentCount(agentId);
                {field:"check",checkbox:true},
                {field:"agentId",title:"id"},
                {field:"agentName",title:"经济人名称"},
                {field:"detail",title:"经济人简介"},
                {field:"agentPhone",title:"经济人电话"},
                {field:"labelName",title:"个人标签"},
                {field:"argentImg",title:"图片",formatter:function(value,row,index){
                        return "<img width='50px' height='50px' src="+value+">";
                    }},
                {field:"tools",title:"操作",
                    formatter: function (value, row, index) {
                        //js传递字符串的时候一定要加引号!!!!
                        return '<button onclick="openUpdate(\''+row.agentId+'\')" class="btn btn-info" >向他提问</button>';


                    }
                }

            ]
        })
    }
    //初始化树的数据
    function initTree(){
        $.ajax({
            url:"/findGuide",
            type:"post",
            success:function(data){
                $('#myTree').treeview({
                    data:data,
                    onNodeSelected:function(event, node) {
                        $.addtabs({iframeHeight: $(window).height()-120});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            //url:"/"+node.href
                        });
                    }
                })
            }
        })
    }
</script>


</body>
</html>