<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jequery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js文件 -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入date日期的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<button type="button" onclick="deleteMany()" class="btn btn-danger glyphicon glyphicon-remove glyphicon glyphicon-trash">批量删除</button>
<button type="button" onclick="openAdd()" class="btn btn-info glyphicon glyphicon-plus ">新增</button>
<table class="table" id="agentTable2"></table>
<script type="text/javascript" th:inline="none">
    $(function() {
        initAgentTable2();//初始化用户表格数据

    })
    //查询经济人
    function initAgentTable2(){
        $('#agentTable2').bootstrapTable({
            url:"/findAgent",
            type:"post",
            pagination:true, //是否展示分页
            pageList:[3, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            striped:true,//显示条纹状表格
            queryParams:function(){
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                }
            },
            columns:[//commentCount(agentId);
                {field:"check",checkbox:true},
                {field:"agentId",title:"id"},
                {field:"agentName",title:"经济人名称"},
                {field:"detail",title:"经济人简介",formatter:function(value,row,index){
                        //判断长度是否超过自己预定义的值
                        if(value.length>5){
                            //长度超过后截取自己想要显示的字符串，其余的以...显示
                            value = value.substring(0, 4) + "...";
                        }
                        //返回组装后的值
                        return value;
                    }},
                {field:"agentPhone",title:"经济人电话"},
                {field:"agentJob",title:"经纪人职位"},
                {field:"store",title:"所属店铺"},
                {field:"agentYears",title:"工作年限"},
                {field:"labelName",title:"个人标签"},
                {field:"achievement",title:"个人成绩"},
                {field:"houseName",title:"主要负责小区"},
                {field:"argentImg",title:"图片",formatter:function(value,row,index){
                        return "<img width='50px' height='50px' src="+value+">";
                    }},
                {field:"score",title:"积分"},
                {field:"regionName",title:"主营板块",formatter:function(value,row,index){
                        return value + "  " +row.streetName;
                    }},
                {field:"tools",title:"操作",
                    formatter: function (value, row, index) {
                        //js传递字符串的时候一定要加引号!!!!
                        var butt = '<button onclick="deleteOne(\''+row.agentId+'\')" class="btn btn-danger glyphicon glyphicon-remove glyphicon glyphicon-trash" >删除</button>';
                        butt+=" "
                        butt += '<button onclick="openUpdate(\''+row.agentId+'\')" class="btn btn-info glyphicon glyphicon-wrench" >修改</button>';
                        butt += '<button onclick="openShow(\''+row.agentId+'\')" class="btn btn-info" >成交小区</button>';
                        butt += '<button onclick="openShow2(\''+row.agentId+'\')" class="btn btn-info" >带看小区</button>';

                        return butt
                    }
                }

            ]
        })
    }
    //初始化区域
    function initRegion() {
        $.ajax({
            url:"/findRegion",
            type:"post",//让他同步进行加载
            data:{id:0},
            async:false,
            success:function(data){
                var  str="<option>-请选择-</option>"
                for (var i = 0; i < data.length; i++) {
                    str+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#region").html(str);
                //刷新表格
            }
        })
    }
    //负责小区下拉列表框
    function inithouseSelect(){
        $.ajax({
            url:"/findHouse",
            type:"post",
            async:false,
            dataType:"json",
            success:function(data){
                            var html = '<option value="-1">请选择</option>';
                    for (var i = 0; i < data.length; i++) {
                        html+='<option value="'+data[i].houseId+'">'+data[i].houseaheName+'</option>'
                }
                $("#houseId").html(html);
            }
        })
    }
    //标签下拉列表框
    function initLabelSelect(){
        $.ajax({
            url:"/findLabel",
            type:"post",
            async:false,
            dataType:"json",
            success:function(data){
                var html = '<option value="-1">请选择</option>';
                for (var i = 0; i < data.length; i++) {
                    html+='<option value="'+data[i].labelId+'">'+data[i].labelName+'</option>'
                }
                $("#labelId").html(html);
            }
        })
    }
    //初始化街道
    function initStreet(regionName) {
        $.ajax({
            url:"/findRegion",
            type:"post",
            async:false,
            data:{id:regionName},
            success:function(data){
                var  str="<option>-请选择-</option>"
                for (var i = 0; i < data.length; i++) {
                    str+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#street").html(str);
            }
        })
    }
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //新增
    function openAdd(){
        bootbox.dialog({
            title:'添加商品',
            message: createAddContent("/toAddAgent"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/saveAgent',
                            type:'post',
                            data:$("#agentForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if(data){
                                }else{
                                    bootbox.alert({
                                        size: "small",
                                        title: "提示",
                                        message: "新增失败！",
                                        buttons: {
                                            ok: {
                                                label: '确定',
                                                className: 'btn-success'
                                            }
                                        }
                                    })
                                }

                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        //初始化区域
        initRegion();
    }
    //修改弹框
    function editOpenDialog(){
        bootbox.dialog({
            title:'修改经纪人',
            message: createAddContent("/toEditAgent"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/saveAgent',
                            type:'post',
                            data:$("#agentForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if(data){
                                }else{
                                    bootbox.alert({
                                        size: "small",
                                        title: "提示",
                                        message: "修改失败！",
                                        buttons: {
                                            ok: {
                                                label: '确定',
                                                className: 'btn-success'
                                            }
                                        }
                                    })
                                }

                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        //初始化区域
        initRegion();
    }
    //修改
    function openUpdate(agentId){
        //打开修改弹框
        editOpenDialog();
        //初始化表单数据
        initRegion();
        initStreet();
        //查询回显数据
        $.ajax({
            url:'/findAgentInfoById',
            type:'post',
            data:{agentId:agentId},
            dataType:'json',
            success:function(data){
                initRegion();
                initStreet(data.region);
                $("#agentId").val(data.agentId);
                $("#agentName").val(data.agentName);
                $("#agentJob").val(data.agentJob);
                $("#detail").val(data.detail);
                $("#houseId").val(data.houseId);
                $("#labelId").val(data.labelId);
                $("#agentPhone").val(data.agentPhone);
                $("#region").val(data.region);
                $("#street").val(data.street);
                $("#agentYears").val(data.agentYears);
                $("#score").val(data.score);
                $("#store").val(data.store);
                $("#achievement").val(data.achievement);
                $("#headImg").val(data.argentImg);
                alert(data.argentImg);
                $("#uploadImg").val(data.argentImg);
                //回显上传插件
                upload(data.argentImg);

            }
        })
    }
    //批量删除
    function deleteMany(ids){
        var ids = '';
        var agent = $('#agentTable').bootstrapTable('getSelections');
        for (var i = 0; i < agent.length; i++) {
            ids += ids == '' ? agent[i].agentId : ","+agent[i].agentId
        }
        delAgent(ids)
    }
    //单删
    function deleteOne(id){
        delAgent(id);
    }
    function delAgent(ids){
        bootbox.confirm({
            size:'small',
            message:"你确认要删除吗",
            buttons:{
                confirm:{
                    label:'确认',
                    className:'btn-success'
                },
                cancel:{
                    label:'取消',
                    className: 'btn-danger'
                }
            },
            callback:function(result){
                if(result){
                    $.ajax({
                        url:"/deleteAgent",
                        type:"post",
                        data:{ids:ids},
                        dataType:"json",
                        success:function(data){
                            if(data){
                            }else{
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "删除失败！",
                                    buttons: {
                                        ok: {
                                            label: '确定',
                                            className: 'btn-success'
                                        }
                                    }
                                })
                            }
                        }
                    })
                }
            }

        })
    }


//成交小区
    function openShow(agentId){
        bootbox.dialog({
            title:'成交小区',
            message: createAddContent("/toVillage?agentId="+agentId),

        });
    }
    //带看小区
    function openShow2(agentId){
        bootbox.dialog({
            title:'带看小区',
            message: createAddContent("/toVillage2?agentId="+agentId),

        });

    }


    </script>
</body>
</html>