<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm2">
    <input type="hidden" name="houseId" id="houseId">
    <div class="container-fluid">

        <div class="row myrow">
            <div class="col-md-4">
                <label for="houseaheName">小区名</label>
                <input type="text" class="form-control" id="houseaheName233" name="houseaheName" disabled >
            </div>
            <div class="col-md-4">
                <label for="housePrice">房屋价格</label>
                <input type="text" class="form-control" id="housePrice" name="housePrice" disabled>
            </div>
        </div>



    </div>

</form>
</body>
<script type="text/javascript">


</script>
</html>