<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm2">
    <input type="hidden" name="houseId" id="houseId">
    <div class="container-fluid">



        <div class="row myrow">
            <label>选择租期</label>
            <select class="selectpicker form-control" data-live-search="true" name="zuqi" id="zuqi" onchange="selectXuanYue(this.value)">
                <option value='1'>1月</option>
                <option value='2'>2月</option>
                <option value='3'>3月</option>
                <option value='4'>4月</option>
                <option value='5'>5月</option>
                <option value='6'>6月</option>
                <option value='7'>7月</option>
                <option value='8'>8月</option>
                <option value='9'>9月</option>
                <option value='10'>10月</option>
                <option value='11'>11月</option>
                <option value='12'>12月</option>
            </select>
        </div>

    <div class="row myrow">
            <div class="col-md-4">
                <label for="houseaheName">小区名</label>
                <input type="text" class="form-control" id="houseaheName233" name="houseaheName" disabled >
            </div>
    <div class="col-md-4">
        <label for="housePrice">房屋价格</label>
        <input type="text" class="form-control" id="housePrice" name="housePrice" disabled>
    </div>
    </div>



    </div>

</form>
</body>
<script type="text/javascript">
 /*   $(function(){
        initType();
    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
    })*/
 var price = 0;
 function selectXuanYue(value){
     if (price==0){
         price=  $("#housePrice").val();
     }
     $("#housePrice").val(price*value);

 }

</script>
</html>