<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jequery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js文件 -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入date日期的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
<div id="toolbar">
    <form class="form-inline" id="query_form">
        <div class="form-group">
            <label for="houseaheName">房屋名:</label>
            <input type="text" class="form-control" id="houseaheName" placeholder="请输入房屋名">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label for="housePrice">房屋价格:</label>
            <input type="text" class="form-control" id="startPrice" placeholder="请输入开始价格">~
            <input type="text" class="form-control" id="endPrice" placeholder="请输入结束价格">
        </div>
        <div class="form-select">
            <label  >选择区域:</label>
            <select class="selectpicker form-control" data-live-search="true" name="quyu" id="quyu" onchange="selectOnchang(this.value)">
            </select>

            <label>选择街道:</label>
            <select class="selectpicker form-control" data-live-search="true" name="jiedao" id="jiedao" >
                <option value='-1'>请先选择区域</option>
            </select>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label  >选择地铁线路:</label>
            <select class="selectpicker form-control" data-live-search="true" name="xianlu" id="xianlu" onchange="selectDiTieOnchang(this.value)">
            </select>

            <label>选择地铁站:</label>
            <select class="selectpicker form-control" data-live-search="true" name="zhandian" id="zhandian">
                <option value='-1'>请先选择线路</option>
            </select>
        </div>

        <div class="form-radio">
            <div class="radio">
                <label>是否有电梯:</label>
                <label>
                    <input type="radio" name="houseElevator"  value="1" > 有电梯
                    <input type="radio" name="houseElevator"  value="2" > 无电梯
                </label>
            </div>
            <div class="radio">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>是否装修:</label>
                <label>
                    <input type="radio" name="houseFinish"  value="1" > 已装修
                    <input type="radio" name="houseFinish"  value="2" > 未装修
                </label>
            </div>
            <div class="radio">
                <label>是否供暖:</label>
                <label>
                    <input type="radio" name="houseHeating"  value="1" > 已供暖
                    <input type="radio" name="houseHeating"  value="2" > 未供暖
                </label>
            </div>
            <div class="radio">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>租期:</label>
                <label>
                    <input type="radio" name="houseZuQi"  value="1" > 月租
                    <input type="radio" name="houseZuQi"  value="2" > 年租
                </label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>方式:</label>
                <label>
                    <input type="radio" name="ZuTypeid"  value="" > 不限
                    <input type="radio" name="ZuTypeid"  value="1" > 整租
                    <input type="radio" name="ZuTypeid"  value="2" > 合租
                </label>
            </div>
        </div>
        <div class="form-checkbox">
            <div class="checkbox">
                <label>户型:</label>
                <label>
                <input type="checkbox" name="houseTypeName" value="1">一室
                <input type="checkbox" name="houseTypeName" value="2">二室
                <input type="checkbox" name="houseTypeName" value="3">三室
                <input type="checkbox" name="houseTypeName" value="4">四室
                <input type="checkbox" name="houseTypeName" value="5">五室+
                </label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>朝向:</label>
                <label>
                    <input type="checkbox" name="houseDirectionName" value="1">东
                    <input type="checkbox" name="houseDirectionName" value="2">南
                    <input type="checkbox" name="houseDirectionName" value="3">西
                    <input type="checkbox" name="houseDirectionName" value="4">北
                    <input type="checkbox" name="houseDirectionName" value="5">南北
                </label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>楼层:</label>
                <label>
                    <input type="checkbox" name="houseFloorTypeName" value="1">底层
                    <input type="checkbox" name="houseFloorTypeName" value="2">低层楼
                    <input type="checkbox" name="houseFloorTypeName" value="3">中层楼
                    <input type="checkbox" name="houseFloorTypeName" value="4">高层楼
                    <input type="checkbox" name="houseFloorTypeName" value="5">顶层
                </label>
            </div>
            <div class="form-checkboxTeSe">
                <label>特色:</label>
                <label>
                    <input type="checkbox" name="TeSeName" value="1">近地铁
                    <input type="checkbox" name="TeSeName" value="2">拎包入住
                    <input type="checkbox" name="TeSeName" value="3">精装修
                    <input type="checkbox" name="TeSeName" value="4">集中供暖
                    <input type="checkbox" name="TeSeName" value="5">押一付一
                    <input type="checkbox" name="TeSeName" value="6">新上
                    <input type="checkbox" name="TeSeName" value="7">认证公寓
                    <input type="checkbox" name="TeSeName" value="8">随时看房
                </label>
            </div>
        </div>



        <button type="reset" class="btn btn-primary glyphicon glyphicon-search" >重置</button>
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" onclick="searchUser(1)">搜索</button>
        <button type="button"   onclick="searchUser(1)">综合排序</button>
        <button type="button"   onclick="searchUser(2)">价格</button>
        <button type="button"   onclick="searchUser(3)">面积</button>
    </form>

</div>
<table class="table" id="myTable"></table>
</body>
<script type="text/javascript" th:inline="none">
    var intid = 1;

    $(function() {
        initHouseTable();//初始化用户表格数据
        diqu();
        ditie();
        //selectOnchang(null);
        //selectDiTieOnchang(null);

    })
    function initHouseTable(){
        $('#myTable').bootstrapTable({
            toolbar:'#toolbar',
            url:"/house/queryhouse",
            type:"post",
            pagination:true, //是否展示分页
            pageList:[3, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:3,//默认每页条数
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页
            striped:true,//显示条纹状表格
            queryParams:function(){
                //户型条查拼接字符串
                var box = document.getElementsByName("houseTypeName");
                var objArray = box.length;
                var chestr="";

                for(var i=0;i<objArray;i++){
                    if(box[i].checked == true){
                        chestr+=box[i].value+",";
                    }
                }
                chestr = chestr.substr(0,chestr.length-1);
                //朝向条查拼接字符串
                var box2 = document.getElementsByName("houseDirectionName");
                var objArray2 = box2.length;
                var chestr2="";

                for(var i=0;i<objArray2;i++){
                    if(box2[i].checked == true){
                        chestr2+=box2[i].value+",";
                    }
                }
                chestr2 = chestr2.substr(0,chestr2.length-1);
                //楼层类型条查拼接字符串
                var box3 = document.getElementsByName("houseFloorTypeName");
                var objArray3 = box3.length;
                var chestr3="";

                for(var i=0;i<objArray3;i++){
                    if(box3[i].checked == true){
                        chestr3+=box3[i].value+",";
                    }
                }
                chestr3 = chestr3.substr(0,chestr3.length-1);
                //房屋特色条查拼接字符串
                var box4 = document.getElementsByName("TeSeName");
                var objArray4 = box4.length;
                var chestr4="";

                for(var i=0;i<objArray4;i++){
                    if(box4[i].checked == true){
                        chestr4+=box4[i].value+",";
                    }
                }
                chestr4 = chestr4.substr(0,chestr4.length-1);
               //如果街道有值那么地区就为null
                if ($("#jiedao option:selected").val()!=null&&$("#jiedao option:selected").val()!=-1&&$("#jiedao option:selected").val()!=""){
                    $("#quyu option:selected").val(null);
                }
                //如果站点有值那么线路就为null
                if ($("#zhandian option:selected").val()!=null&&$("#zhandian option:selected").val()!=-1&&$("#zhandian option:selected").val()!=""){
                    $("#xianlu option:selected").val(null);
                }
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                    houseaheName:$("#houseaheName").val(),
                    houseElevator:  $("input[name='houseElevator']:checked").val(),
                    ZuTypeid:  $("input[name='ZuTypeid']:checked").val(),
                    houseFinish:  $("input[name='houseFinish']:checked").val(),
                    houseHeating:  $("input[name='houseHeating']:checked").val(),
                    houseZuQi:  $("input[name='houseZuQi']:checked").val(),
                    houseQuYuId:  $("#jiedao option:selected").val(),
                    houseQuYuFuId:  $("#quyu option:selected").val(),
                    houseDiTieFuId: $("#xianlu option:selected").val(),
                    houseDiTieId: $("#zhandian option:selected").val(),
                    startPrice:$("#startPrice").val(),
                    endPrice:$("#endPrice").val(),
                    houseTypeId:chestr,
                    houseDirectionId:chestr2,
                    houseFloorTypeId:chestr3,
                    houseTeSeId:chestr4,
                    intid:intid,

                }
            },
            columns:[
                {field:"check",checkbox:true},
                {field:"houseId",title:"id"},
                {field:"houseaheName",title:"房名"},
                {field:"housePrice",title:"价格",
                    formatter: function(value,row,index){
                        return value+"万";
                    }},
                {field:"houseManName",title:"用户名"},
                {field:"agentName",title:"经纪人"},
                {field:"houseQuYuName",title:"区域名"},
                {field:"houseDiTieName",title:"地铁站名"},
                {field:"houseJianzhuMianji",title:"建筑面积"},
                {field:"houseTaoneiMianji",title:"套内面积"},
                {field:"houseTypeName",title:"户型"},
                {field:"houseUseName",title:"房屋类型"},
                {field:"houseFloorTypeName",title:"楼层类型"},
                {field:"houseDirectionName",title:"房屋朝向"},
                {field:"houseAgeName",title:"楼龄"},
                {field:"houseZuTypeName",title:"方式"},
                {field:"houseTeSeId",title:"特色"},
                {field:"houseZuQi",title:"租期",
                    formatter: function(value,row,index){
                        return value==1?"月租":value==2?"年租":"";
                    }},
                {field:"houseElevator",title:"有无电梯",
                    formatter: function(value,row,index){
                        return value==1?"有电梯":value==2?"没有电梯":"";
                    }},
                {field:"houseFinish",title:"是否装修",
                    formatter: function(value,row,index){
                        return value==1?"已装修":value==2?"未装修":"";
                    }},
                {field:"houseHeating",title:"是否供暖",
                    formatter: function(value,row,index){
                        return value==1?"已供暖":value==2?"未供暖":"";
                    }},
                {field:"ridgepoleName",title:"楼栋"},
                {field:"elementName",title:"单元"},
                {field:"doorplateName",title:"门牌号"},
                {field:"tools",title:"操作",
                    formatter: function (value, row, index) {
                        //js传递字符串的时候一定要加引号!!!!
                        var butt = '<button onclick="chuzuTan(\''+row.houseId+'\',\''+row.agentId+'\')" class="btn btn-danger glyphicon glyphicon-jpy" >确认出租</button>';
                        //butt+=" "
                        butt += '<button onclick="LookHouse(\''+row.agentId+'\')" class="btn btn-info glyphicon glyphicon-wrench" >看房子</button>';

                        return butt
                    }
                }
            ]
        })
    }
    //条件查询
    function searchUser(id){
        intid = id;
        $('#myTable').bootstrapTable('refresh');
    }
    //初始化地区的数据
    function diqu(){
        $.ajax({
            type:"post",
            url:"/house/queryquyu",
            data:{pid:0},
            dataType:"json",
            success:function(data) {
                var html ="<option value='-1'>请选择区域</option>";
                for( var i = 0 ; i < data.length; i++ ){
                    html  +="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#quyu").append(html);
            }
        })
    }

    function selectOnchang(id){
        //获取被选中的option标签选项
        $.ajax({
            type:"post",
            url:"/house/queryquyu",
            data:{pid:id},
            dataType:"json",
            success:function(data) {
                var html2 ="<option value='-1'>请先选择区域</option>";
                for( var i = 0 ; i < data.length; i++ ){
                    html2  +="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#jiedao").html(html2);
            }
        })
    }
    //初始化地铁的数据
    function ditie(){
        $.ajax({
            type:"post",
            url:"/house/queryditie",
            data:{pid:0},
            dataType:"json",
            success:function(data) {
                var html ="<option value='-1'>请选择线路</option>";
                for( var i = 0 ; i < data.length; i++ ){
                    html  +="<option value='"+data[i].subwayId+"'>"+data[i].subwayName+"</option>";
                }
                $("#xianlu").append(html);
            }
        })
    }
    function selectDiTieOnchang(id) {
        $.ajax({
            type: "post",
            url: "/house/queryditie",
            data: {pid:id},
            dataType: "json",
            success: function (data) {
                var html2 = "<option value='-1'>请先选择线路</option>";
                for (var i = 0; i < data.length; i++) {
                    html2 += "<option value='" + data[i].subwayId + "'>" + data[i].subwayName + "</option>";
                }
                $("#zhandian").html(html2);
            }
        })
    }
    //单删
    function deleteItem(id,agentId){
       alert(agentId)
        bootbox.confirm({
            size:'small',
            message:"你确认要删除吗",
            buttons:{
                confirm:{
                    label:'确认',
                    className:'btn-success'
                },
                cancel:{
                    label:'取消',
                    className: 'btn-danger'
                }
            },
            callback:function(result){
                if(result){
                    $.ajax({
                        url:'/house/deleteItem',
                        tpye:'post',
                        data:{ids:id,agentId:agentId},
                        dataType:'json',
                        success:function(data){
                            if(data){
                                alert("删除成功");
                                searchUser();
                            }else{
                                alert("删除失败")
                            }
                        }
                    })
                }

            }
        })
    }
    //看房子
    function LookHouse(agentId){
        $.ajax({
            type:"post",
            url:"/house/LookHouse",
            data:{agentId:agentId},
            dataType:"json",
            success:function(data) {
                alert("已成功联系经纪人，请耐心等候看房通知");
            }
        })
    }
    //修改
    function chuzuTan(id){
        //打开弹框
        bootbox.dialog({
            title:'修改',
            message: createAddContent("/house/chuzuFuKuan"),
            closeButton: true,//显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 确认付款",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                            location.href="/goAlipay?price="+$("#housePrice").val();
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消付款",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }
        });
        //回显数据
        $.ajax({
            url:'/house/findHouseById',
            type:'post',
            data:{houseId:id},
            success:function(data){
                $("#houseId").val(data.houseId);
                $("#housePrice").val(data.housePrice);
                $("#houseaheName233").val(data.houseaheName);
            }
        });

    }
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }

</script>
</html>