<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div th:include="/index.html"></div>
<nav class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >抽奖后台</a>
            </div>
        </div>
    </div>
</nav>
<div id="toolbar">
    <form class="form-inline" id="query_form">
        <div class="form-group">
            <label for="userName">用户名字</label>
            <input type="text" class="form-control" id="userName" placeholder="请输入用户名">
        </div>
    </form>
    <button type="button" onclick="searchUser()" class="btn btn-info glyphicon glyphicon-plus ">奖品记录</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <button type="button" onclick="openAdd()" class="btn btn-info glyphicon glyphicon-plus ">新增奖品</button>

        <table class="table" id="DlrldHistoryTable2"></table>
            ,</div>
            <div class="table" id="prizeTable"></div></div>
    </div>
</div>
</div>
<input type="hidden" id="productionidbyid">
<input type="hidden" id="typeidbyid">
<script  th:src="@{/script/index.js}"></script>
<script  th:src="@{/script/addbook.js}"></script>
</body>
</html>