<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<style type="text/css">
    .mydiv{
        margin-top: 250px;
        margin-left: 550px;
    }
</style>
<body>
<div th:include="/index.html"></div>
<div class="modal-dialog" >
        <form class="form-inline" id="upupform">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="hidden" class="form-control" id="dlrIdId"  name="dlrIdId" ></br>

                        <select  class="form-control" onchange="initbooklist()"  style="width:200px"  id="prizeTypeid" name="prizeTypeid">
                        </select>
                        <input type="hidden" class="form-control" id="integralAdd"  name="integralAdd" ></br>
                        <input type="hidden" class="form-control" id="houseId"  name="houseId" ></br>
                        <input type="hidden" class="form-control" id="dlrldtyId"  name="dlrldtyId" ></br>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table" id="prizesuiji"></div>
<script  th:src="@{/script/index.js}"></script>
<script  th:src="@{/script/addbook.js}"></script>
<script  th:src="@{/script/book.js}"></script>
</body>
</html>