<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

<div th:include="/index.html"></div>
<nav class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div  id="myTree">
            </div>
        </div>
    </div>
</nav>

<form role="form" name="form">

    <div class="form-group">
        <label for="login" class="col-sm-1 control-label">手机号</label>
        <div class="col-sm-2">
            <input type="hidden" id="id" name="id" class="form-control"/>

            <input type="text" id="login" name="login" class="form-control"/>
        </div><br>

    </div><br> <div class="form-group">
    <label for="password" class="col-sm-1 control-label">密码</label>
    <div class="col-sm-2">

        <input type="text" id="password" name="password" class="form-control"/>
    </div><br>

</div><br>
        <div class="form-group">
            <label for="bookname" class="col-sm-1 control-label">姓名</label>
            <div class="col-sm-2">

                <input type="text" id="bookname" name="namea" class="form-control"/>
            </div>

        </div><br>



    <div class="form-group"><br>
        <label for="jiaxidname" class="col-sm-1 control-label">出生地:</label>
        <div class="col-sm-1">
            <select class="form-control" onchange="initProvIdSelect(this.value)" id="jiaxidname" name="jiaxid" style="width:150px">
            </select>
        </div>
        <div class="col-sm-1">
            <select class="form-control" id="jiaoxidname" name="jiaoxid" style="width:150px">
            </select>
        </div>

    </div><br>


        <div class="form-group">
            <label for="houseZuTypeName1" class="col-sm-1 control-label">性别：</label>
            <label class="radio-inline">
                <input type="radio" name="xingb" id="houseZuTypeName1" value="1">男
            </label>
            <label class="radio-inline">
                <input type="radio" name="xingb" id="houseZuTypeName2" value="2">女
            </label>
            <label class="radio-inline">
                <input type="radio" name="xingb" id="houseZuTypeName3" value="3">未知
            </label>
        </div>
        <!-- 特色 -->
        <div class="form-group">
            <label for="TeSeName" class="col-sm-1 control-label">爱好：</label>
            <label class="checkbox-inline">
                <input type="checkbox" name="aihao" id="TeSeName" value="1"> 游泳
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="aihao" value="2"> 机车
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="aihao" value="3"> 看书
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="aihao" value="4"> 打球
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="aihao" value="5"> 慢跑
            </label>


        </div>
        <div class="form-group">
            <label for="booktype" class="col-sm-1 control-label">教育:</label>
            <div class="col-sm-2">
                <select id="booktype" name="jiaoyid" class="form-control">
                </select>
            </div>

        </div><br>
        <div class="form-group"><br>
            <label for="hengyid" class="col-sm-1 control-label">行业:</label>
            <div class="col-sm-2">
                <select id="hengyid" name="hengyid" class="form-control">
                </select>
            </div>

        </div><br>
    <div class="form-group"><br>
        <label for="shuozaiidname" class="col-sm-1 control-label">所在城市</label>
        <div class="col-sm-1">
            <select class="form-control" onchange="initProvCityIdSelect(this.value)" id="shuozaiidname" name="shuozaisiid"  style="width:150px">
            </select>
        </div>
        <div class="col-sm-1">
            <select class="form-control" id="shuosiname" name="shuozaiid" style="width:150px">
            </select>
        </div>

    </div><br>




    </form>
<div class="form-group"><br>
    <label for="booktype" class="col-sm-1 control-label"></label>

<div class="col-sm-1">
    <button type="button" class="btn btn-primary btn-lg" onclick="addOwner()">上交个人资料</button>
    </select>
</div>
</div>

</body>
<script th:inline="none">
    $(function(){

        selectjiaoyid();
        selecthengyid();

        initProvinceidSelect();
        initProvidSelect();
        openUpdate(28);
    })


    //修改
    function openUpdate(id){

        $.ajax({
            url:'../queryhunx',
            type:'post',
            async:false,//同步
            data:{id:id},
            dataType:'json',
            success:function(data) {
                $("#id").val(data.id);
                $("#login").val(data.login);
                $("#password").val(data.password);


            }
        })
    }










    function addOwner() {
        $.ajax({
            url:'../addOwner',
            type:'post',
            data:$("form").serialize(),
            dataType:'json',
            success:function (result) {
                if (result){

                    location.href="";
                }
            },
            error:function () {
                alert("保存成功!");
            }
        });
    }
    function selectjiaoyid(){
        $.ajax({
            url:"../selectjiaoyid",
            type:'post',
            data:{},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">-请选择-</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">-'+data[i].jiaoyidname+'</option>';
                }
                $('#booktype').html(html);
            }
        })
    }

    function selecthengyid(){
        $.ajax({
            url:"../selecthengyid",
            type:'post',
            data:{},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">-请选择-</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">-'+data[i].hengyidname+'</option>';
                }
                $('#hengyid').html(html);
            }
        })
    }
    function initProvinceidSelect(){
        $.ajax({
            url:'../selectshuozaiid',
            type:'post',
            data:{},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">请选择省份</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">'+data[i].shuozaiidname+'</option>'
                }
                $("#shuozaiidname").html(html);
            }
        })
    }
    //查询市
    function initProvCityIdSelect(pid){
        $.ajax({
            url:'../shuosiname',
            type:'post',
            data:{pid:pid},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">请选择城市</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">'+data[i].shuosiname+'</option>'
                }
                $("#shuosiname").html(html);
            }
        })
    }
    function initProvidSelect(){
        $.ajax({
            url:'../jiaxidname',
            type:'post',
            data:{},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">请选择省份</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">'+data[i].jiaxidname+'</option>'
                }
                $("#jiaxidname").html(html);
            }
        })
    }
    //查询市
    function initProvIdSelect(pid){
        $.ajax({
            url:'../jiaoxidname',
            type:'post',
            data:{pid:pid},
            dataType:'json',
            success:function(data){
                var html = '<option value="-1">请选择城市</option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="'+data[i].id+'">'+data[i].jiaoxidname+'</option>'
                }
                $("#jiaoxidname").html(html);
            }
        })
    }
</script>
</html>