<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- 引入easyui样式文件 -->
    <link type="text/css" rel="stylesheet" href="/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标样式文件 -->
    <link type="text/css" rel="stylesheet" href="/jquery-easyui-1.5/themes/icon.css">
    <!-- 引入jquery js文件 -->
    <script type="text/javascript" src="/jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引文easyui支持中文js -->
    <script type="text/javascript" src="/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>


</head>
<body>

<!-- 定义登录框 -->
<div class="easyui-dialog" data-options="width:400,height:300,closable:false,title:'系统登录',
  icloCls:'icon-tip',buttons:'#button'">
    <form id="loginForm" method="post">
        <center style="margin-top: 10%">
            <table>
                <tr>
                    <td>账号:</td>
                    <td><input class="easyui-textbox" name="login"
                               data-options="required:true,iconCls:'icon-man'">
                    </td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input class="easyui-passwordbox" name="password"
                               data-options="required:true,iconCls:'icon-lock'">
                    </td>
                </tr>
            </table>
        </center>
    </form>
</div>
<div id="button">
    <a href="javascript:login()" class="easyui-linkbutton" data-options="iconCls:'icon-man'">登录</a>
    <a href="javascript:reg()" class="easyui-linkbutton" data-options="iconCls:'icon-redo'">注册</a>
</div>
    <script  th:src="@{/script/login.js}" th:inline="none"></script>

</body>

</html>