<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

<div th:include="/index.html"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">亿家人</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-brand" href="#"></a>
            <a class="navbar-brand" href='javascript:void(0)' onclick=> </a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top:70px">
    <div class="row">
        <div class="col-md-2">
            <!-- 树的div -->
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        首页
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script  th:src="@{/script/zenghe.js}" th:inline="none"></script>
</body>
</html>