<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">

    <select id="findTreeByPid" parameterType="int" resultType="com.jk.model.Tree">
		select t.id,t.text,t.pid,t.href  from login_zhuy t where t.pid=#{pid}
	</select>

	<insert id="savelogin" parameterType="com.jk.model.Login">
     insert into house_man(login,password) values(#{login},#{password})
    </insert>

    <select id="UserLogin" parameterType="String" resultType="com.jk.model.Login">
     select * from house_man where login = #{login}
    </select>

    <select id="findTreeByP" parameterType="int" resultType="com.jk.model.zenghe">
		select t.id,t.text,t.pid,t.href  from zenghe t where t.pid=#{pid}
	</select>
    <!-- 查询总条数 -->
    <select id="findHouseCount" parameterType="com.jk.model.House" resultType="int">
        select count(*) from ( select h.houseId from t_house h
        left join t_area a on h.houseQuYuId = a.id
        left join t_subway s on h.houseDiTieId = s.subwayId
        left join house_age hage on h.houseAgeId = hage.houseAgeId
        left join house_direction hdir on h.houseDirectionId = hdir.houseDirectionId
        left join house_floor hfl on h.houseFloorTypeId = hfl.houseFloorTypeId
        left join house_type hty on h.houseTypeId = hty.houseTypeId
        left join house_use hus on h.houseUseId = hus.houseUseId
        left join house_zutype hzu on h.ZuTypeid = hzu.ZuTypeid
        left join house_feature hfe on h.houseTeSeId = hfe.houseTeSeId
        left join house_man hman on h.houseManId = hman.id
        left join t_agent tage on h.agentId = tage.agentId
        				where h.houseShoucang=2

        )  a

    </select>


    <select id="findHousePage" resultType="com.jk.model.House">
       select h.*,a.name houseQuYuName,s.subwayName houseDiTieName,hage.ageName houseAgeName,
        hdir.otName houseDirectionName,hfl.floorName houseFloorTypeName,
        hty.houseName houseTypeName,hus.useName houseUseName,hzu.ZuTypeName houseZuTypeName,
        hfe.houseTeSeName TeSeName, hman.name houseManName,
        tage.agentName agentName from t_house h
        left join t_area a on h.houseQuYuId = a.id
        left join t_subway s on h.houseDiTieId = s.subwayId
        left join house_age hage on h.houseAgeId = hage.houseAgeId
        left join house_direction hdir on h.houseDirectionId = hdir.houseDirectionId
        left join house_floor hfl on h.houseFloorTypeId = hfl.houseFloorTypeId
        left join house_type hty on h.houseTypeId = hty.houseTypeId
        left join house_use hus on h.houseUseId = hus.houseUseId
        left join house_zutype hzu on h.ZuTypeid = hzu.ZuTypeid
        left join house_feature hfe on h.houseTeSeId = hfe.houseTeSeId
        left join house_man hman on h.houseManId = hman.id
        left join t_agent tage on h.agentId = tage.agentId
				where h.houseShoucang=2

        limit #{start},#{rows}
    </select>
</mapper>