<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">

    <select id="findTreeByPid" parameterType="int" resultType="com.jk.model.Tree">
		select t.id,t.text,t.pid,t.url  from tree t where t.pid=#{pid}
	</select>



</mapper>