<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">

    <select id="findTreeByPid" parameterType="int" resultType="com.jk.model.Tree">
		select t.id,t.text,t.pid,t.href  from login_zhuy t where t.pid=#{pid}
	</select>

	<insert id="savelogin" parameterType="com.jk.model.Login">
     insert into house_man(login,password) values(#{login},#{password})
    </insert>

    <select id="UserLogin" parameterType="String" resultType="com.jk.model.Login">
     select * from house_man where login = #{login}
    </select>

    <select id="findTreeByP" parameterType="int" resultType="com.jk.model.zenghe">
		select t.id,t.text,t.pid,t.href  from zenghe t where t.pid=#{pid}
	</select>
    <!-- 查询总条数 -->
    <select id="findHouseCount" parameterType="com.jk.model.House" resultType="int">
        select count(*) from ( select h.houseId from t_house h
        left join t_area a on h.houseQuYuId = a.id
        left join t_subway s on h.houseDiTieId = s.subwayId
        left join house_age hage on h.houseAgeId = hage.houseAgeId
        left join house_direction hdir on h.houseDirectionId = hdir.houseDirectionId
        left join house_floor hfl on h.houseFloorTypeId = hfl.houseFloorTypeId
        left join house_type hty on h.houseTypeId = hty.houseTypeId
        left join house_use hus on h.houseUseId = hus.houseUseId
        left join house_zutype hzu on h.ZuTypeid = hzu.ZuTypeid
        left join house_feature hfe on h.houseTeSeId = hfe.houseTeSeId
        left join house_man hman on h.houseManId = hman.id
        left join t_agent tage on h.agentId = tage.agentId
				where h.houseShoucang=2
        <include refid="searchSql"></include>
        )  a

    </select>


    <select id="findHousePage" resultType="com.jk.model.House">
       select h.*,a.name houseQuYuName,s.subwayName houseDiTieName,hage.ageName houseAgeName,
        hdir.otName houseDirectionName,hfl.floorName houseFloorTypeName,
        hty.houseName houseTypeName,hus.useName houseUseName,hzu.ZuTypeName houseZuTypeName,
        hfe.houseTeSeName TeSeName, hman.name houseManName,
        tage.agentName agentName from t_house h
        left join t_area a on h.houseQuYuId = a.id
        left join t_subway s on h.houseDiTieId = s.subwayId
        left join house_age hage on h.houseAgeId = hage.houseAgeId
        left join house_direction hdir on h.houseDirectionId = hdir.houseDirectionId
        left join house_floor hfl on h.houseFloorTypeId = hfl.houseFloorTypeId
        left join house_type hty on h.houseTypeId = hty.houseTypeId
        left join house_use hus on h.houseUseId = hus.houseUseId
        left join house_zutype hzu on h.ZuTypeid = hzu.ZuTypeid
        left join house_feature hfe on h.houseTeSeId = hfe.houseTeSeId
        left join house_man hman on h.houseManId = hman.id
        left join t_agent tage on h.agentId = tage.agentId
				where h.houseShoucang=2
        <include refid="searchSql"></include>
        limit #{start},#{rows}
    </select>


    <select id="qureyCount" parameterType="com.jk.model.Login" resultType="int">
select count(*)from(select  m.id
             from house_man m
            left join login_jiaxid j on m.jiaxid=j.id
            left join login_jiaoyid y on m.jiaoyid=y.id
            left join login_hengyid h on m.hengyid=h.id
            left join login_shuozaiid s on m.shuozaiid=s.id
            join login_jiaoxidname o on m.jiaoxid=o.id
            join login_shuosiname n on m.shuozaisiid=n.id
        <include refid="bookWhere"></include>

        )l
    </select>

    <select id="qureyResume" resultType="com.jk.model.Login">
select  m.*,j.jiaxidname as jiaxidname , y.jiaoyidname as jiaoyidname , h.hengyidname as hengyidname , s.shuozaiidname as shuozaiidname ,
            o.jiaoxidname as jiaoxidname ,  n.shuosiname as shuosiname
             from house_man m
            left join login_jiaxid j on m.jiaxid=j.id
            left join login_jiaoyid y on m.jiaoyid=y.id
            left join login_hengyid h on m.hengyid=h.id
            left join login_shuozaiid s on m.shuozaiid=s.id
            join login_jiaoxidname o on m.jiaoxid=o.id
            join login_shuosiname n on m.shuozaisiid=n.id

        <include refid="bookWhere"></include>

        limit #{start},#{rows}
    </select>


    <sql id="bookWhere">
        <where>
            <if test="login.namea != null and login.namea != ''">
                and m.namea like '%${login.namea}%'
            </if>
            <if test="login.login != null and login.login != ''">
                and m.login like '%${login.login}%'
            </if>
        </where>
    </sql>


    <sql id="searchSql">

        /*房屋名条件查询*/
        <if test="house.houseaheName!=null and house.houseaheName!=''">
           and (h.houseaheName like '%${house.houseaheName}%')
        </if>
        /*开始金额*/
        <if test="house.startPrice !=null and house.startPrice!='' ">
            and h.housePrice &gt;=#{house.startPrice}
        </if>
        /*结束金额*/
        <if test="house.endPrice !=null and house.endPrice!=''">
            and h.housePrice &lt;=#{house.endPrice}
        </if>
        /*是否有电梯条件查询*/
        <if test="house.houseElevator!=null and house.houseElevator!=''">
            and (h.houseElevator = #{house.houseElevator})
        </if>
        /*是否装修条件查询*/
        <if test="house.houseFinish!=null and house.houseFinish!=''">
            and (h.houseFinish = #{house.houseFinish})
        </if>
        /*是否供暖条件查询*/
        <if test="house.houseHeating!=null and house.houseHeating!=''">
            and (h.houseHeating = #{house.houseHeating})
        </if>
        /*租期条件查询*/
        <if test="house.houseZuQi!=null and house.houseZuQi!=''">
            and (h.houseZuQi = #{house.houseZuQi})
        </if>

    </sql>
</mapper>